@model TP_NT.Models.ViewModel.LoginUsuario;

@{
    ViewData["Title"] = "Liga de Basquet";
}

@{
    Layout = "_LayoutLogin";
}

    <div class="col">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header card-inicio">
                                    <center><h5>INICIAR SESIÓN</h5>
                                </div>
                                </center>
                                <div class="card-body">
                                    <form asp-action="Index">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Email" class="small mb-1" for="inputEmail"></label>
                                            <input asp-for="Email" class="form-control join-form" placeholder="Ingrese su Email"/>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password" for="inputPassword"></label>
                                            <input asp-for="Password" class="form-control join-form" placeholder="Ingrese su password"/>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                            </div>
                                        </div>
                                        <div class="form-group mt-4 mb-0"><input type="reset" name="reset" class="btn btn-primary btn-block" value="Cancelar"></div>
                                        <div class="form-group mt-2 mb-0"><input type="submit" name="login" class="btn btn-primary btn-block" value="Ingresar"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>

    </div>
