@{
    ViewData["Title"] = "Administrar torneo";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Miembro</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row"></th>
                    <td>X</td>
                    <td></td>
                    <td><button type="button" class="btn btn-outline-danger">Expulsar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>