@model TP_NT.Models.Torneo

@{
    ViewData["Title"] = "Mis torneos";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Torneo</th>
                    <th scope="col"></th>
                    <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row"></th>
                    <td>Torneo de mi amigo</td>
                    <td></td>
                    <td><button type="button" class="btn btn-outline-primary">Ver torneo</button></td>
                    </tr>
                    <tr>
                    <th scope="row"></th>
                    <td>Torneo mio</td>
                    <td><button type="button" class="btn btn-outline-primary">Administrar</button></td>
                    <td><button type="button" class="btn btn-outline-primary">Ver torneo</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary btn-lg">Crear</button>
            <button type="button" class="btn btn-primary btn-lg">Inscribirse</button>
        </div>
    </div>
</div>

    
     

    

   
    
    