@model TP_NT.Models.ViewModel.Ranking

@{
    ViewData["Title"] = "Unirse a un torneo";
}

<div class="card text-center">
    <div class="card-header">
        <span class="badge bg-primary text-white" style="font-size:18px; float:left;">MIS TORNEOS</span>
        <button type="button" class="btn btn-outline-success" style="margin-left:700px;" data-toggle="modal" data-target="#myModal">CREAR TORNEO</button>
    </div>
    <div class="card-body">

        <table class="table table-striped table-bordered table-condensed table-sm mt-3">
            <thead>
                <tr>
                    <th scope="col">Propietario</th>
                    <th scope="col">Torneo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                    <td class="text-primary">Usted</td>
                    <td>Liga top</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary">Administrar <i class="fas fa-user-edit"></i></button>
                        <button type="button" class="btn btn-outline-danger">Eliminar <i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>                 
                <tr>
                    <td>Pepe</td>
                    <td>Liga Crazy</td>
                    <td><button type="button" class="btn btn-outline-danger">Eliminar <i class="fas fa-trash-alt"></i></button></td>
                </tr>
              
            </tbody>
        </table>

    </div>
    <div class="card-footer text-muted">
            <i class="fas fa-basketball-ball"></i>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#F7F7F7;">
          <h4 class="modal-title">Arma tu torneo</h4>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ingresa el nombre de tu torneo">
            <div class="input-group-append">
                <button class="btn btn-success" type="button">Crear</button>
            </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>