@model TP_NT.Models.Usuario

@{
    ViewData["Title"] = "Perfil";
}

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mi perfil</h5>
            <p class="card-text">Nombre: @Model.Nombre</p>
            <p class="card-text">Apellido: @Model.Apellido</p>
            <p class="card-text">Edad: @Model.Edad</p>
            <p class="card-text">Email: @Model.Email</p>
         </div>
    </div>
</div>