@model TP_NT.Models.TorneoVM

@{
    ViewData["Title"] = "Unirse a un torneo";
}

<div class="card text-center">
    <div class="card-header">
        <span class="badge bg-warning text-dark" style="font-size:18px;">TORNEOS DISPONIBLES</span>
    </div>
    <div class="card-body">

        <table class="table table-striped table-bordered table-condensed table-sm mt-3">
            <thead>
                <tr>
                    <th scope="col">Propietario</th>
                    <th scope="col">Torneo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Torneos)
                {
                    <tr>
                      <td class="text-primary">@item.Creador.Nombre</td>
                      <td>@item.Nombre</td>
                      <td><a class="nav-link" asp-controller="Home" asp-action="UnirseTorneo" asp-route-id="@item.Id">Inscribirse</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="card-footer text-muted">
            <i class="fas fa-basketball-ball"></i>
    </div>
</div>